---
   import weatherData from '../../data/weather.json';
---

<div class="border-gray-400 border-2 p-4 max-w-sm mx-auto mt-4 rounded-xl">
  <h2>Weather for Today</h2>
  <p><strong>Location:</strong> {weatherData.location}</p>
  <p><strong>Temperature:</strong> {weatherData.hourly.}</p>
  <p><strong>Condition:</strong> {weatherData.condition}</p>
  <p><strong>Humidity:</strong> {weatherData.humidity}</p>
  <p><strong>Wind Speed:</strong> {weatherData.windSpeed}</p>
</div>